<h1>Lista de tipos de cambio</h1>

<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Divisa Base</th>
          <th scope="col">Divisa de Cotización</th>
          <th scope="col">Tasa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let er of exchangeRatesList;">
          <th scope="row">{{ er.id }}</th>
          <td>{{ er.base.isoCode }}</td>
          <td>{{ er.quote.isoCode }}</td>
          <td>{{ er.conversion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
